<%- include('partials/header') -%>
  <script type="module">
    import * as realtimeBpm from 'https://cdn.jsdelivr.net/npm/realtime-bpm-analyzer/dist/index.esm.js';

    async function handleFileUpload(event) {
      console.log('process started', event)
      const file = event.target.files[0];
      console.log('file is here', file)
      if (!file) return;

      const audioContext = new AudioContext();
      console.log('audio build', audioContext)
      const reader = new FileReader();
      console.log('reader build', reader);

      reader.onload = async () => {
        console.log('reader started', reader)
        const audioBuffer = await audioContext.decodeAudioData(reader.result);
        console.log('audio decoded', audioBuffer)
        const bpmCandidates = await realtimeBpm.analyzeFullBuffer(audioBuffer);
        console.log('bpm analyzed', bpmCandidates)
        const topCandidate = bpmCandidates[0]?.tempo || 'No BPM detected';

        document.getElementById('bpm-result').textContent = `Detected BPM: ${topCandidate}`;
      };

      reader.readAsArrayBuffer(file);
    }
    async function detectBPMAndUpload(e) {
      console.log('form submitted')
      e.preventDefault(); //preventing form from submitting server
      // const file = event.target.files[0];
      // console.log('file intercepted', file)
      const form = document.getElementById('realForm');
      const formData = new FormData(form); // Create FormData object from the form
      // console.log('form data', formData)

      // Log each key-value pair in the FormData object
      for (let [key, value] of formData.entries()) {
        console.log(`${key}:`, value);
      }
      console.log(e.target)
      const file = formData.get("file");
      console.log('file is here', file);

      if (!file) return;

      const audioContext = new AudioContext();
      console.log('audio build', audioContext)
      const reader = new FileReader();
      console.log('reader build', reader);

      reader.onload = async () => {
        console.log('reader started', reader)
        const audioBuffer = await audioContext.decodeAudioData(reader.result);
        console.log('audio decoded', audioBuffer)
        const bpmCandidates = await realtimeBpm.analyzeFullBuffer(audioBuffer);
        console.log('bpm analyzed', bpmCandidates)
        const topCandidate = bpmCandidates[0]?.tempo || 'No BPM detected';
        console.log('BPM here', topCandidate)
        // Optionally, append more data programmatically
        formData.append('BPM', topCandidate);
        try {
          // Use fetch to submit the form data
          console.log('about to submit form')
          const response = await fetch('/clips/createPost', {
            // the headers was causing big problems, its works without it +++
            // headers: {
            //   'Content-Type': 'multipart/form-data'
            // },
            method: 'POST',
            body: formData,
          });

          // Handle the response
          if (response.ok) {
            const result = await response.json();
            console.log('Form submitted successfully:', result);
          } else {
            console.error('Form submission failed:', response.status, response.statusText);
          }
        } catch (error) {
          console.error('Error during submission:', error);
        }
        window.location = "/profile";

        // document.getElementById('bpm-result').textContent = `Detected BPM: ${topCandidate}`;
      };
      reader.readAsArrayBuffer(file);
    }
    // document.getElementById('file-input').addEventListener('change', handleFileUpload);
    // commented this out +++
    //document.getElementById('testForm').addEventListener('submit', detectBPMAndUpload);
    document.getElementById('realForm').addEventListener('submit', detectBPMAndUpload);

  </script>
   <section class="col-6">
    <section>
      <p><strong>User Name</strong>: <%= user.userName %>
      </p>
      <p><strong>Email</strong>: <%= user.email %>
      </p>
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </section>

  </section>

  <section class="container mt-5">
    <section class="row">
      <!-- Users Audio Clips Section -->
      <section class="col-lg-7 mb-4">
        <div class="card shadow-sm">
          <div class="card-header bg-custom-light-green text-custom-deep-green">
            <h2 class="h5 mb-0">My Clips</h2>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <% for(var i=0; i<clips.length; i++) {%>
                <li class="mb-4">
                  <h5 class="fw-bold text-custom-deep-green">
                    <%= clips[i].title %>
                  </h5>
                  <p class="text-custom-medium-green">
                    <%= clips[i].description %>
                  </p>
                  <audio controls class="w-100">
                    <source src="<%= clips[i].audio %>" type="audio/wav">
                    <source src="<%= clips[i].audio %>" type="audio/mp3">
                  </audio>
                </li>
                <% } %>
            </ul>
          </div>
        </div>
      </section>

      <!-- User Created Jam Section -->
      <section class="col-lg-5">
        <div class="card shadow-sm">
          <div class="card-header bg-custom-medium-green text-custom-deep-green">
            <h2 class="h5 mb-0">Create a New Jam</h2>
          </div>
          <div class="card-body">
            <form action="/clips/createJam" method="post" class="mb-4">
              <div class="mb-3">
                <input type="text" class="form-control" name="title" placeholder="Title..." required>
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" name="description" placeholder="Description..." required>
              </div>
              <button type="submit" class="btn btn-custom-green w-100">Create Jam</button>
            </form>
            <h2 class="h5 mb-3">My Jams</h2>
            <ul class="row list-unstyled">
              <% for(var i=0; i<jams.length; i++) {%>
                <li class="col-6 mb-3">
                  <a href="/clips/jam/<%= jams[i]._id %>" class="text-decoration-none text-custom-green">
                    <span class="fw-bold">
                      <%= jams[i].title %>
                    </span>
                  </a>
                </li>
                <% } %>
            </ul>
          </div>
        </div>
      </section>
      <!-- Section for spacing -->
      <section class="col-lg-7 mb-4"></section>
      <!-- Collab Jams Section -->
      <section class="col-lg-5 mb-4">
        <div class="card shadow-sm">
          <div class="card-header bg-custom-green text-custom-light-green">
            <h2 class="h5 mb-0">Collab Jams</h2>
          </div>
          <div class="card-body">
            <p class="text-custom-medium-green">Jams you are a collaborator of:</p>
            <ul class="row list-unstyled">
              <% for(var i=0; i<collabJams.length; i++) {%>
                <li class="col-6 mb-3">
                  <a href="/clips/jam/<%= collabJams[i]._id %>" class="text-decoration-none text-custom-dark-green">
                    <span class="fw-bold">
                      <%= collabJams[i].title %>
                    </span>
                  </a>
                </li>
                <% } %>
            </ul>
          </div>
        </div>
      </section>

      <!-- Form to Upload Audio File -->
      <section class="col-12 mb-4">
        <div class="card shadow-sm">
          <div class="card-header bg-custom-dark-green text-custom-light-green">
            <h2 class="text-center h5 mb-0">Add an Audio Clip</h2>
          </div>
          <div class="card-body">
            <form action="/clips/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Description</label>
                <textarea class="form-control" id="caption" name="description" rows="3" required></textarea>
              </div>
              <div class="mb-3">
                <label for="audioUpload" class="form-label">Audio File</label>
                <input type="file" class="form-control" id="audioUpload" name="file" required>
              </div>
              <button type="submit" class="btn btn-custom-green w-100">Submit</button>
            </form>
          </div>
        </div>
      </section>

      <!-- Return to Jams Button -->
      <section class="text-center">
        <a href="/clips/jamFeed" class="btn btn-custom-medium-green btn-lg">Explore New Jams</a>
      </section>
    </section>
  </section>


  <%- include('partials/footer') -%>