<%- include('partials/headerLogin') -%>



  <section class="container mt-5">
    <!-- Profile Info -->

    <div class="row g-4">
      <!-- My Clips Section -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">My Clips</div>
          <div class="card-body">
            <% if (clips.length> 0) { %>
              <ul class="list-group list-group-flush">
                <% clips.forEach((clip)=> { %>
                  <li class="list-group-item">
                    <h5 class="text-custom-green mb-1">
                      <%= clip.title %>
                    </h5>
                    <p class="text-muted mb-2">
                      <%= clip.description %>
                    </p>
                    <% if (clip.BPM) { %>

                      <span>Detected BPM: <%= clip.BPM %></span>
                      <% } %>
                        <audio controls class="audio-player">
                          <source src="<%= clip.audio %>" type="audio/wav">
                          <source src="<%= clip.audio %>" type="audio/mp3">
                        </audio>
                  </li>
                  <form action="/clips/deleteClip/<%= clip.id %>?_method=DELETE" method="POST" class="col-3">
                    <button class="btn btn-primary fa fa-trash" type="submit"></button>
                  </form>
                  <% }); %>
              </ul>
              <% } else { %>
                <p class="text-muted">No clips available. Start creating your music!</p>
                <% } %>
          </div>
        </div>
      </div>

      <!-- Form to Upload Audio File Section -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">Add an Audio Clip</div>
          <div class="card-body">
            <form action="/clips/createClip" enctype="multipart/form-data" method="POST" id="addClipForm">
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required
                  placeholder="Enter the title of track...">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Description</label>
                <textarea class="form-control" id="caption" name="description" rows="3" required
                  placeholder="Enter a description of this audio clip..."></textarea>
              </div>
              <div class="mb-3">
                <label for="audioUpload" class="form-label">Audio File</label>
                <input type="file" class="form-control" id="audioUpload" name="file" required>
              </div>
              <button type="submit" class="btn btn-custom-green w-100">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Create a New Jam Section -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">Create a new Jam</div>
          <div class="card-body">
            <form action="/clips/createJam" method="POST" enctype="multipart/form-data">
              <div class="mb-4">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Create a Jam Title..." required>
              </div>
              <div class="mb-4">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" placeholder="Enter a description of jam..." rows="3"
                  required></textarea>
              </div>
              <div class="mb-4">
                <label for="coverPhoto" class="form-label">Cover Photo</label>
                <input type="file" id="coverPhoto" class="form-control" name="file" placeholder="Upload Cover Photo"
                  required>
              </div>
              <div class="mb-4">
                <label for="genre" class="form-label">Select a genre:</label>
                <select name="genre" class="form-select" required>
                  <option>--</option>
                  <option value="Hip-Hop">Hip-Hop</option>
                  <option value="Rock">Rock</option>
                  <option value="Pop">Pop</option>
                  <option value="Jazz">Jazz</option>
                  <option value="Classical">Classical</option>
                </select>
              </div>
              <button type="submit" class="btn btn-custom-green w-100">Create Jam</button>
            </form>
          </div>
        </div>
      </div>

      <!-- My Jams Section -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">My Jams</div>
          <div class="card-body">
            <% if (jams.length> 0) { %>
              <ul class="list-group list-group-flush">
                <% jams.forEach((jam)=> { %>
                  <li class="list-group-item">
                    <a href="/clips/jam/<%= jam._id %>" class="text-custom-green">
                      <%= jam.title %>
                    </a>
                    <form action="/clips/deleteJam/<%= jam.id %>?_method=DELETE" method="POST" class="col-3">
                      <button class="btn btn-primary fa fa-trash" type="submit"></button>
                    </form>

                  </li>
                  <% }); %>
              </ul>
              <% } else { %>
                <p class="text-muted">No jams created yet.</p>
                <% } %>
          </div>
        </div>
      </div>



      <!-- Collaborator Jams Section -->
      <div class="col-lg-6 ms-auto">
        <div class="card">
          <div class="card-header">Collab Jams</div>
          <div class="card-body">
            <p class="form-label">Jams you are a collaborator of:</p>
            <ul class="list-group list-group-flush">
              <% for(var i=0; i < collabJams.length; i++) { %>
                <li class="list-group-item">
                  <a href="/clips/jam/<%= collabJams[i]._id %>" class="text-custom-green">
                    <%= collabJams[i].title %>
                  </a>
                </li>
                <% } %>
            </ul>
          </div>
        </div>
      </div>

      <!-- Explore More Jams Section -->

    </div>
  </section>

  <!-- Add your script -->
  <script type="module">
    import * as realtimeBpm from 'https://cdn.jsdelivr.net/npm/realtime-bpm-analyzer/dist/index.esm.js';
    async function handleFileUpload(event) {
      console.log('process started', event)
      const file = event.target.files[0];
      console.log('file is here', file)
      if (!file) return;
      const audioContext = new AudioContext();
      console.log('audio build', audioContext)
      const reader = new FileReader();
      console.log('reader build', reader);
      reader.onload = async () => {
        console.log('reader started', reader)
        const audioBuffer = await audioContext.decodeAudioData(reader.result);
        console.log('audio decoded', audioBuffer)
        const bpmCandidates = await realtimeBpm.analyzeFullBuffer(audioBuffer);
        console.log('bpm analyzed', bpmCandidates)
        const topCandidate = bpmCandidates[0]?.tempo || 'No BPM detected';
        document.getElementById('bpm-result').textContent = `Detected BPM: ${topCandidate}`;
      };
      reader.readAsArrayBuffer(file);
    }
    async function detectBPMAndUpload(e) {
      console.log('form submitted')
      e.preventDefault(); //preventing form from submitting server
      // const file = event.target.files[0];
      // console.log('file intercepted', file)
      const form = document.getElementById('addClipForm');
      const formData = new FormData(form); // Create FormData object from the form
      // console.log('form data', formData)
      // Log each key-value pair in the FormData object
      for (let [key, value] of formData.entries()) {
        console.log(`${key}:`, value);
      }
      console.log(e.target)
      const file = formData.get("file");
      console.log('file is here', file);
      if (!file) return;
      const audioContext = new AudioContext();
      console.log('audio build', audioContext)
      const reader = new FileReader();
      console.log('reader build', reader);
      reader.onload = async () => {
        console.log('reader started', reader)
        const audioBuffer = await audioContext.decodeAudioData(reader.result);
        console.log('audio decoded', audioBuffer)
        const bpmCandidates = await realtimeBpm.analyzeFullBuffer(audioBuffer);
        console.log('bpm analyzed', bpmCandidates)
        const topCandidate = bpmCandidates[0]?.tempo || 'No BPM detected';
        console.log('BPM here', topCandidate)
        // Optionally, append more data programmatically
        formData.append('BPM', topCandidate);
        try {
          // Use fetch to submit the form data
          console.log('about to submit form')
          const response = await fetch("/clips/createClip", {
            // the headers was causing big problems, its works without it +++
            // headers: {
            //   'Content-Type': 'multipart/form-data'
            // },
            method: 'POST',
            body: formData,
          });
          // Handle the response
          if (response.ok) {
            const result = await response.json();
            console.log('Form submitted successfully:', result);
          } else {
            console.error('Form submission failed:', response.status, response.statusText);
          }
        } catch (error) {
          console.error('Error during submission:', error);
        }
        window.location = "/profile";
        // document.getElementById('bpm-result').textContent = `Detected BPM: ${topCandidate}`;
      };
      reader.readAsArrayBuffer(file);
    }
    // document.getElementById('file-input').addEventListener('change', handleFileUpload);
    // commented this out +++
    //document.getElementById('testForm').addEventListener('submit', detectBPMAndUpload);
    document.getElementById('addClipForm').addEventListener('submit', detectBPMAndUpload);
  </script>

  <%- include('partials/footer') -%>